
.card{
    border: 1px solid #000;
    border-radius: 10px;
    padding: .5em;
    width: max-content;
}

.card-photo{
    position: relative;
    width: 350px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 2em;
}

img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-footer{
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: italic;

}

.category{
    color: #646464;
}

 .price-photo .card-photo::before  {
    content: '';
    position: absolute;
    background-image: url('/photos/star.png');
    background-size: cover;
    z-index: 111;
    width: 20px;
    height: 20px;
    top: 15px;
    left: 15px;
}

 .price-photo .card-photo::after  {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    z-index: 11;
    width: 40px;
    height: 40px;
    top: 5px;
    left: 5px;
    border-radius: 50%;
}

button{
    background-color: #07539f;
    color: #fff;
    font-size: .8em;
    padding: .5em 1em;
    border-radius: 5px;
}