
.card{
    border: 1px solid #000;
    border-radius: 10px;
    padding: .5em;
    width: max-content;
}

img {
    width: 350px;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.card-footer{
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: italic;

}

.category{
    color: #646464;
}

.price{
    font-weight: bold;
    font-size: 1.3em;
    margin-right: .5em;
}