header {
    background-color: #07539f;
    color: white;
    display: flex;
    place-items: center;
    justify-content: space-between;
    font-weight: bold;
    padding: 0 5vw;
}

nav{
    display: flex;
    align-items: center;
    gap: .5em;
}

nav a {
    color: #ccc;
    font-size: .9em;
    transition: all .15s ease;
}

nav a:hover {
    color: white;
    text-decoration: underline;
}

footer{
    background-color: #032f5b ;
    color: white;
    text-align: center;
    display: grid;
    font-weight: bold;
    place-items: center
}

.wrapper{
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    min-height: 100vh;
}